Repository googleapis/java-analytics-data, pull requests merged in 2022-03, with the labels that each got.

#443 test: downgrade google-auth-library-oauth2-http back to 1.4.0
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: analyticsdata

#452 deps(sample): using newer google-analytics-data in snippet
  README.md
  samples/install-without-bom/pom.xml
  samples/snippets/pom.xml
Labels: automerge, samples, api: analyticsdata

#447 docs: add Java sample for runReport method
  README.md
  samples/snippets/src/main/java/com/example/analytics/RunReportSample.java
  samples/snippets/src/test/java/com/example/analytics/RunReportSampleTest.java
Labels: samples, api: analyticsdata
